
.nav{
    background-color: #3d7abb;
    padding: 20px;
   color: white;
}
.nav a{
    color: white;
}
.main{
    padding: 20px;
    display:flex;
}
.item{
    border: 1px solid #ececec;
    width:30%;
    margin: 0 20px;
}
.item > .item-title {
    text-align: center;
    font-size:2em;
    
}
.item > .item-title > h1{
    font-size:3em;
}
.pending, .consider, .onhold{
    padding: 20px;
}
.logoText{
    font-size: 30px;
    color: white;
}
.home{
    display: flex;
}